.main {
  min-height: 100dvh;
  grid-template-columns: 1fr;
  display: grid;
  place-items: center;
  background: #000;
  color: #ddd;
}
.main p {
  font-size: 6.5em;
  font-family: "Circular", sans-serif;
}
@media screen and (max-width: 600px) {
  .main p {
    font-size: 4em;
  }
}
@media screen and (max-width: 330px) {
  .main p {
    font-size: 3em;
  }
}
.main h4 {
  position: absolute;
  bottom: 45px;
}
