.main {
  min-height: 100dvh;
  grid-template-columns: 1fr;
  display: grid;
  place-items: center;
  color: #ddd;
}
.main p.main_text {
  font-size: 9.5em;
  font-family: "Circular", sans-serif;
}
.main .right {
  position: absolute;
  bottom: 45px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .right h4 a {
  text-decoration: none;
}
.main .right h4 {
  width: 60px;
  border: 1px solid #4e4e4e;
  border-radius: 50%;
  height: 60px;
  background: #0e0e0e;
  display: grid;
  place-items: center;
  color: #ddd;
}
.main header {
  position: fixed;
  top: 35px;
  right: 35px;
  font-size: 0.9em;
  color: #8a8a8a;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.main header a {
  color: #8a8a8a;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .main p.main_text {
    font-size: 4em;
  }
}
@media screen and (max-width: 330px) {
  .main p.main_text {
    font-size: 3em;
  }
}
