.main {
  color: #ddd;
  display: grid;
  grid-template-columns: 1fr 400px;
  background: #000000b2;
}
.main .preview {
  border-right: 1px solid #4a4a4a;
  width: 100%;
  min-height: 100vh;
}
.main .preview .element h1 {
  margin: 20px;
  font-size: 1.1em;
  font-weight: 400;
  color: #ddd;
  line-height: 1.5;
}
.main .preview .element {
  display: flex;
}
.main .preview .element .element_pos {
  border-right: 1px solid #3a3a3a;
  border-bottom: 1px solid #3a3a3a;
  min-width: 50px;
  text-align: center;
  background: #111;
  padding-top: 20px;
  font-size: 1.2em;
}
.main .preview .element header {
  padding: 20px;
  margin-left: 2px;
  font-weight: 500;
}
.main .elements_box {
  display: grid;
  grid-template-columns: 1fr;
  max-height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 400px;
}

.main .elements_box section:nth-child(1) {
  border-bottom: 1px solid #4a4a4a;
}
@media screen and (max-width: 900px) {
  .main {
    grid-template-columns: 1fr 25vw;
  }
  .main .elements_box {
    width: 25vw;
  }
}

.main .elements_box .text_based {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main .elements_box .text_based h1,
.main .elements_box .visual_based h1 {
  display: grid;
  place-items: center;
  color: #4a4a4a;
  border: 1px solid #3a3a3a;
  font-size: 2em;
  cursor: pointer;
}
.main .elements_box .text_based h1:hover,
.main .elements_box .visual_based h1:hover {
  background: #ddd;
  color: #0e0e0e;
}
.main .elements_box .visual_based {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.main .elements_box .visual_based .vb_btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main .elements_box .visual_based span {
  font-size: 2em;
  display: grid;
  color: #fff;
  place-items: center;
  background: #006fff;
}
